div{
    transition: all ease 0.3s;
    background-color: aqua;
    font-size: 16px;
    padding: 5px;
    width: 10%;
    height: 10%;
    float: left;
    margin: 25px;
    text-align: center;
}

.crescer:hover {
    transform: scale(1.3);
}

.diminuir {
    width: 10%;
    height: 10%;
   
}
.diminuir:hover {
    transform: scale(0.7);
}



.rotacionar:hover {
    transform: rotateZ(30deg);
}


.redondo:hover {
    border-radius: 100%;
}

.sombra:hover {
    transform: translateX(-3px);
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}

@keyframes balancar {
    0% {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(0px);
    }
    45% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }

}

.balanco:hover {
    animation: balancar 1s ease;
    animation-iteration-count: 1;
}

.borda:hover {
    box-shadow: inset 0 0 0 3px;
}